:root {
  --primary-red: #c8102e;
  --dark-red: #9e0d23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
}

/* NAVBAR */
nav {
  background: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-area img {
  width: 60px;
}

.church-name h1 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.church-name span {
  font-size: 14px;
  color: black;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* BUTTONS */
.btn {
  background: var(--primary-red);
  color: rgb(255, 255, 255);
  padding: 8px 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--dark-red);
  transform: translateY(-3px);
}

.big-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 12px 25px;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #5b0110, #9e0d23);
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.hero-content h2 {
  font-size: 42px;
}

.hero-content p {
  margin-top: 15px;
  font-size: 18px;
}

/* SECTIONS */
.section {
  padding: 70px 40px;
  text-align: center;
}

.light {
  background: white;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 25px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

footer {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}